* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 5vh;
    /*background-color: pink;*/
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2% ;
    padding-left: 5%;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.banner::after {
    width: 100%;
    height: 100vh;
    content: "";
    background-image: url(../image/advisor_bg.jpg);
    filter: brightness(40%);
    z-index: -1;
    background-size: cover;
}

.menu {
    /*border:2px solid aquamarine;*/
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu li a{
    display: flex;
    text-decoration: none;
    color: antiquewhite;
}

.logo {
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu li a:hover {
    color: aqua;
}

.title1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 35%;
    text-align: center;
    color: antiquewhite;
    letter-spacing: 5px;
    font-family: serif;
}

.info_tt2 {
    /*border: 2px solid black;*/
    font-size: 10vw;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: #88b4be;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 80vh;
    /*background-color: antiquewhite;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;

}

.pic_advisor {
    width: 30%;
    height: 40vh;
    border-radius: 100%;
    position: relative;
    /*background-image: url(../image/advisor.png);*/
    /*background-color: aqua;*/
    position: absolute;
    top: -5%;
    z-index: 1;
    /*background-size: contain;*/
    overflow: hidden;
}

.pic_advisor > img {
    /*display: none;*/
    width: 100%;
    height: 45vh;
    
    /*position: absolute;*/
}

.info_advisor {
    width: 50%;
    height: 60vh;
    position: absolute;
    /*bottom: 2%;*/
    top: 25%;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /*margin-top: 30%;*/
    background-color: gainsboro;

}

.info_advisor > p {
    margin-top: 25%;
    line-height: 2rem;
}

.cb::before {
    content: icon;
    
}

